node_modules
build
npm-debug.log
Gemfile.lock
_site

# don't commit the file that simulates the AWS environment variables
dev/.env

# I don't want to commit the private RSA keys for my bot!
# see: https://docs.travis-ci.com/user/encrypting-files/#Encrypting-multiple-files
clabot-dev-integration-key.pem
clabot-integration-key.pem
secrets.tar
