# Github Personal Access Token
GITHUB_ACCESS_TOKEN=--your-token-here--
INTEGRATION_ENABLED=false
# Path to the local .pem file with the App private key
INTEGRATION_KEY=--integration-key--
# 4-digits number, top right of Github App page
INTEGRATION_ID=--integration-id--
# URL to the log entries
LOG_URL=https://colineberhardt.github.io/cla-bot/
# Github App name
BOT_NAME=cla-bot
